ingestcontoso_metadataDriven.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDatabricks1":{"type":"string"},"AzureDataLakeStorage1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/ingestcontoso_metadataDriven')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LookupMetadata","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"dataset":{"referenceName":"DelimitedText2","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"FilterJobID","type":"Filter","dependsOn":[{"activity":"LookupMetadata","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LookupMetadata').output.value","type":"Expression"},"condition":{"value":"@equals(item().jobid, pipeline().parameters.jobid)","type":"Expression"}}},{"name":"ForEachJobID","type":"ForEach","dependsOn":[{"activity":"FilterJobID","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('FilterJobID').output.value","type":"Expression"},"isSequential":false,"activities":[{"name":"If restart 0_copy1","type":"IfCondition","dependsOn":[{"activity":"Set timestamp","dependencyConditions":["Succeeded"]},{"activity":"Set fileName raw","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(pipeline().parameters.restart, '0')\n","type":"Expression"},"ifTrueActivities":[{"name":"Copy_to_raw_copy1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DelimitedText1","type":"DatasetReference","parameters":{"container":{"value":"landing","type":"Expression"},"folder":{"value":"@concat(item().origin,'/',item().country,'/',pipeline().parameters.odate)","type":"Expression"},"file":{"value":"@item().fileName","type":"Expression"}}}],"outputs":[{"referenceName":"Parquet1","type":"DatasetReference","parameters":{"container":"raw","folder":{"value":"@concat(item().origin,'/',item().country,'/',pipeline().parameters.odate,'/',variables('timestamp'))","type":"Expression"},"file":{"value":"@variables('fileNameRaw')","type":"Expression"}}}]}]}},{"name":"Notebook","description":"transform_and_ingest_into_delta\n","type":"DatabricksNotebook","dependsOn":[{"activity":"If restart 0_copy1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Workspace/transform_and_ingest_into_delta","baseParameters":{"container":"raw","folder":{"value":"@concat(item().origin,'/',item().country,'/',pipeline().parameters.odate,'/',variables('timestamp'))","type":"Expression"},"file":{"value":"@variables('fileNameRaw')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}},{"name":"Set timestamp","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"timestamp","value":{"value":"@formatDateTime(utcNow(), 'yyyyMMddHHmmss')","type":"Expression"}}},{"name":"Set fileName raw","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"fileNameRaw","value":{"value":"@concat(\n    substring(item().fileName, 0, lastIndexOf(item().fileName, '.')),\n    '.parquet'\n)","type":"Expression"}}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"restart":{"type":"string","defaultValue":"0"},"jobid":{"type":"string"},"odate":{"type":"string"}},"variables":{"fileNameRaw":{"type":"String"},"timestamp":{"type":"String"}},"annotations":[],"lastPublishTime":"2025-06-22T22:18:36Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DelimitedText2')]","[concat(variables('factoryId'), '/datasets/DelimitedText1')]","[concat(variables('factoryId'), '/datasets/Parquet1')]"]},{"name":"[concat(parameters('factoryName'), '/DelimitedText2')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"metadata.csv","fileSystem":"metadata"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"jobid","type":"String"},{"name":"origin","type":"String"},{"name":"origin_details","type":"String"},{"name":"country","type":"String"},{"name":"fileName","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DelimitedText1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"container":{"type":"string"},"folder":{"type":"string"},"file":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().file","type":"Expression"},"folderPath":{"value":"@dataset().folder","type":"Expression"},"fileSystem":{"value":"@dataset().container","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Parquet1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"container":{"type":"string"},"folder":{"type":"string"},"file":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().file","type":"Expression"},"folderPath":{"value":"@dataset().folder","type":"Expression"},"fileSystem":{"value":"@dataset().container","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}